html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-inline-block {
    display: inline-block;
}

#portada {
    padding: 80px 0;
    display: flex;
    justify-content: center; /* Centrar las imágenes */
    align-items: center;
    width: 100%;
    position: relative;
}

.contenedor-imagenes {
    display: flex;
    gap: 20px; /* Espacio entre las imágenes */
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imagen-izq img {
    width: 100%;
    max-width: 700px; /* Tamaño máximo de las imágenes */
    height: auto;
}

.imagen-der img {
    width: 100%;
    max-width: 400px; /* Tamaño máximo de las imágenes */
    height: auto;
}
.imagen-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen-der {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    background-color: #009FE3;
    display: inline-block;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 5px;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: transparent;
    color: #009FE3;
    border: 1px solid #009FE3;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    #portada {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-imagenes {
        flex-direction: column;
    }

    .imagen-izq,
    .imagen-der {
        width: 100%;
        text-align: center;
    }

    .imagen-der img {
        width: 90%;
    }

    .btn-custom {
        width: auto;
    }
}

.navbar {
    padding: 3p
}

.navbar-custom {
    background-color: #009FE3;
}

.navbar-nav .nav-item .btn {
    color: white; /* Texto blanco por defecto */
    transition: color 0.3s, background-color 0.3s; /* Transición suave */
}

.navbar-nav .nav-item .btn:hover {
    color: black; /* Texto negro al pasar el mouse */
    background-color: white; /* Fondo blanco al pasar el mouse */
}

.btn-artz {
    background-color: transparent; /* Mismo color de fondo de la barra */
    color: black; /* Texto negro */
    border: none;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.btn-artz:hover {
    background-color: black; /* Fondo negro al pasar el mouse */
    color: white; /* Texto blanco */
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.whatsapp-float:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.whatsapp-float img {
    width: 40px;
    height: 40px;
}

.instagram-float {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.instagram-float img {
    width: 40px;
    height: 40px;
    
}

.instagram-float:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.text-servicios {
    font-family: 'Vollkorn', serif;
    font-weight: bold; /* Hace que el texto sea negrita */
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.btn-ajustado {
    background-color: #009FE3; /* Color de fondo */
    display: inline-block; /* Hace que el ancho se ajuste al contenido (el texto) */
    padding: 10px 20px; /* Espaciado alrededor del texto */
    white-space: nowrap; /* Impide que el texto se divida en varias líneas */
    width: min-content; /* Asegura que el botón no tenga un ancho fijo */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Texto blanco */
    border: none; /* Sin borde inicialmente */
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Transición suave */
    margin-left: 2rem;
}

.btn-ajustado:hover {
    background-color: transparent; /* Fondo transparente al pasar el mouse */
    color: #3498db; /* El color del texto cambia al color del borde */
    border: 1px solid #3498db; /* Mantén el borde visible */
}



.navbar-toggler-icon {
    filter: invert(100%); /* Cambia de negro a blanco */
}


.card-header {
    font-family: "Mona Sans", sans-serif;
    font-weight: bold; /* Hace que el texto sea negrita */
    border-bottom: 2px solid #ffffff; /* Define el grosor y color de la línea */
    width: 80%; /* Ajusta el ancho de la línea (puedes cambiar el porcentaje) */
    margin: 0 auto; /* Centra la línea horizontalmente */
    text-align: left; /* Asegura que el texto siga alineado a la izquierda */
    padding-bottom: 10px; /* Espacio entre la línea y el contenido */
    background-color: rgba(255, 255, 255, 0) !important;
}
.card {
    border: 3px solid hsl(0, 0%, 100%); /* Grosor y color del borde */
    background-color: rgba(255, 255, 255, 0) !important;
}
.card-body {
    font-family: "Arial", sans-serif;
    justify-content: left; /* Centra horizontalmente */
    background-color: rgba(255, 255, 255, 0) !important;
}
.text-servicios {
    font-family: "Mona Sans", sans-serif;
}
.servicios {
    position: relative;
    background-image: url("Imagenes/fondo-p.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0;
}

.servicios:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(198, 100%, 45%, 0.5);
    z-index: 1;
}

.servicios .container {
    position: relative;
    z-index: 2;
}

.btn-enviar {
    background-color: #009FE3; /* Color de fondo */
    display: inline-block; /* Hace que el ancho se ajuste al contenido (el texto) */
    padding: 10px 20px; /* Espaciado alrededor del texto */
    white-space: nowrap; /* Impide que el texto se divida en varias líneas */
    width: min-content; /* Asegura que el botón no tenga un ancho fijo */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Texto blanco */
    border: none; /* Sin borde inicialmente */
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Transición suave */
    margin-left: 2rem;
}

.btn-enviar:hover {
    background-color: transparent; /* Fondo transparente al pasar el mouse */
    color: #3498db; /* El color del texto cambia al color del borde */
    border: 1px solid #3498db; /* Mantén el borde visible */
}

#contacto {
    background-color: #009FE3;
}