:root { --nav-h: 40px; }
html, body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-image: url("/static/imagenes/Fondo-estatico.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: var(--nav-h);
}
.navbar {
    position: fixed;
    margin: 0;
    padding: 10px;
    background-color: #009FE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.9);
    z-index: 1000;
    inset: 0 0 auto 0;
    height: var(--nav-h);
}
.logo {
    margin-left: 5px;
}
.nav-btn {
    display: flex;
    list-style: none;
    gap: 5px;
}
.nav-btn a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height:100svh;
    width: 100%;
    margin: 0;
    opacity: 0;  
    animation: aparecer 3s ease-in-out forwards;
    gap: 0px;
}
@keyframes aparecer {
  from{opacity:0}
  to{opacity:1}
}
.inicio h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #009FE3;
    font-size: clamp(1.2rem, 6vw, 3.5rem);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}
.inicio h2 {
    color: black;
    font-size: clamp(.8rem, 3.5vw, 2rem);
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0 20px 0;
}

.btn-inicio {
    background-color: #009FE3;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: clamp(.5rem, 2.5vw, 1rem);
    border-radius: 20px;
    border: 2px solid #009FE3;
}
.btn-inicio:hover {
    background-color: white;
    color: #009FE3;
}
.nosotros {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.textos-nosotros {
    width: 50%;
    align-items: center;
    padding: 50px;
}
.parrafo-nosotros {
    text-align: justify;
    line-height: 1.6;
}
.imagen-nosotros {
    width: 50%;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.imagen-nosotros img{
    height: auto;
    width: 100%; 
}
.servicios {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 0px;
}
.diseño-digital, .diseño-impreso, .diseño-ux {
    width: 100%;
    border-radius: 10px;
}
.titulo-servicios {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 50px;
    color: white;
}
.bloques-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}

.bloques {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.titulos {
    padding-left: 15px;
}
.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contacto-box{
    display: flex;
    flex-wrap:wrap;
    gap:0;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.info-contacto {
    background-color: white;
    padding: 25px;
    text-align: left;
    flex: 1;
}
.info-contacto p {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    margin: 0;
}
.border-top {
    display: block;
    width: 50px;
    height: 4px;
    background-color: black;
    margin-left: 0 auto;
    margin-bottom: 15px;
}
.border-top-white {
    display: block;
    width: 50px;
    height: 4px;
    background-color: white;
    margin-left: 0 auto;
    margin-bottom: 15px;
}
.formulario {
    background-color: #009fe3;
    text-align: left;
    flex: 1;
    padding: 10px;
}
.formulario form {
    display: flex;
    flex-direction: column;
}
.formulario input, .contacto textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}
.btn-enviar {
    display: flex;
    justify-content: center;
}
.formulario button {
    width: 50%;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: white;
    color: #009FE3;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
}
.formulario button:hover {
    background-color: #009FE3;
    color: white;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.iconos-redes {
    width: 30px;
    height: 30px;
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: #009FE3;
    color: white;
    width: 100%;
    margin: 0;

}
.lista-footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
}

.linea-footer {
    width: 35%;
    height: 2px;
    background-color: white;
    margin: 15px 0;

}
.iconos-footer {
    width: 30px;
    height: 30px;
    padding: 0;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-bottom: 20px;
}
.footer-legal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}
.footer-legal a {
    color: white;
    text-decoration: none;
}
#nav-footer {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-footer {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    gap: 50px;
    margin: 0;
}

.nav-btn a:hover {
    background-color: white;
    color: #009FE3;
    border-radius: 10px;
}
.ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.514);
}
.menu-plegable {
    display: none;
    margin: 0;
}
.boton-plegable {
    display: none;
    margin: 0;
}
@media (max-width: 768px) {

    html, body {
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .menu-plegable{
    position:absolute; width:1px; height:1px; overflow:hidden;
    clip: rect(0 0 0 0); white-space:nowrap; clip-path: inset(50%);
    }
    .boton-plegable{
    display:flex; margin-left:auto; cursor:pointer; padding:12px;
    }
    .nav-btn{
    position:absolute;
    top:40px;
    left:0;
    right:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    background: rgba(0,159,227);
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    padding:12px 0;
    z-index:1001;
    opacity:0;
    pointer-events:none;
    transition: opacity 1.5s ease;
    will-change: opacity, transform;
    }
    .nav-btn a{ color:#fff; }

    #menu-boton:checked ~ .nav-btn{
    opacity:1;
    pointer-events:auto;
    }
    .nav-btn li {
        text-align: center;
        padding: 10px;
    }
    .nosotros {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .textos-nosotros {
        width: 90%;
    }
    .parrafo-nosotros {
        width: 90%;
    }
    .imagen-nosotros {
        width: 90%;
    }
    .imagen-nosotros img {
        width: 100%;
    }
    .titulo-servicios {
        padding-left: 30px;
    }
    .bloques {
        max-width: 80%;
        margin: 10px 10px;
    }
    .contacto-box {
        flex-direction: column;
    }
    .info-contacto {
        text-align: left;
    }
    .formulario {
        padding: 20px;
        padding-bottom: 30px;
    }
    .nav-footer {
        flex-wrap: wrap;
        gap: 5px;
    }
}
